@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/* General Body*/
body {
  overflow-x: hidden;
  font-family: "PT Sans", sans-serif;
}

/*Navigation - all pages*/
.navbar {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 2px;
  height: 140px;
  z-index: 9999;
}

.navbar-brand img {
  height: 125px;
  margin-left: 20px;
  width: 125px;
}

.navbar-nav li {
  padding-right: 2px;
  margin-right: 20px;
  text-shadow: 0.2px 0 0 black;
}

.navbar-light .navbar-nav .nav-link {
  color: #3358D4;
  padding-top: 15px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #00B576;
  text-decoration: underline;
  text-decoration-color: #3358D4;
}

.navbar-collapse {
  background: #f8f9fa;
}

/*End of Navigation - all pages*/

/*Footer Section - all pages*/
footer {
  width: 100%;
  bottom: 0;
}

footer .row {
  text-align: center;
  color: #3358D4;
  text-shadow: 0.2px 0 0 #000000;
}

.footer-text {
  font-size: 20px;
  margin-top: 1.5px;
}

/*End of Footer Section - all pages*/

/*Home Page Images - index.html*/
.images img {
  height: 100%;
  width: 100%;
  border: 1px solid #000000;
}

/*Validation for form elements*/
.green-text:valid {
  background-color: #90ee90;
}

/*Form & Card Sections*/
.centre-card {
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 150px;
  width: 40%;
  padding-left: 30px;
}

.centre-card2 {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 30%;
  padding-left: 30px;
  padding-right: 30px;
}

.centre-text {
  margin: 0 auto;
}

.title-text {
  color: #3358D4;
  text-decoration: underline;
  font-size: 25px;
}

.card-styling {
  border-radius: 25px;
  box-shadow: 0px 0px 1px 1px #000000;
}

.input-area {
  padding-left: 10px;
}

/*End of Form & Card Sections*/

/*Background hero images - login, register, phrases, addphrase & editphrase pages*/
.login-heroimage {
  height: 100%;
  background: url("../images/optimisedloginimage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.register-heroimage {
  height: 100%;
  background: url("../images/optimisedregisterimage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.profile-heroimage {
  height: 100%;
  background: url("../images/optimisedprofilepageimage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.addphrase-heroimage {
  height: 100%;
  background: url("../images/optimisedaddphraseimage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.editphrase-heroimage {
  height: 100%;
  background: url("../images/optimisededitphraseimage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.phrasebackground {
  background-color: #3358D4;
}

/*End of Background hero images*/

/*Flash Messages - all pages*/
.flash-message {
  margin: 0 auto;
  color: #3358D4;
  border: 1px solid #00B576;
  background-color: #ffffff;
  padding-left: 10px;
  font-size: 30px;
}

/*Buttons - all pages*/
.button {
  border-width: small;
  color: #ffffff;
  border-color: #3358D4;
  background-color: #013200;
  border-radius: 25%;
}

.button:hover {
  background-color: #3358D4;
}

.button-red {
  border-width: small;
  color: #ffffff;
  border-color: #3358D4;
  background-color: #d40202;
  border-radius: 25%;
}

.button-margin {
  margin: 3px;
}

/*End of Buttons - all pages*/

/*Hyperlinks - all pages*/
.links {
  color: #3358D4;
  font-weight: 800;
}

/*Container fluid divs for various pages*/
.container-fluid {
  padding: 5px;
}

/*Cards for phrases - phrases.html*/
.phrases {
  border-radius: 25px;
  box-shadow: 0px 0px 1px 1px black;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 60%;
  padding-left: 20px;
  background-color: white;
}

/*Search section and card section - phrases.html*/
.searchbackground {
  background-color: #F0FFF0;
}

.search {
  padding-bottom: 1px;
  padding-top: 1px;
}

.search-confirmation {
  margin: 0 auto;
  color: #3358D4;
  border: 1px solid #00B576;
  background-color: #ffffff;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.results-image {
  height: 100%;
  width: 100%;
  border: 1px solid #000000;
}

.korean-text {
  color: #3358D4;
}

/*Profile section - profile.html*/
.profilelayout {
  padding-top: 130px;
  padding-bottom: 130px;
}

.userconfirmation {
  padding-top: 30px;
}

/*Media Queries*/
@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .centre-card {
    margin: 0 auto;
    width: 60%;
  }

  .centre-card2 {
    margin: 0 auto;
    width: 85%;
  }
}

@media only screen and (max-width: 900px) and (min-width: 768px) {
  .centre-card {
    margin: 0 auto;
    width: 40%;
  }

  .centre-card2 {
    margin: 0 auto;
    width: 40%;
  }
}

