@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/*Navigation - all pages*/
.navbar {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 2px;
  height: 110px;
  z-index: 9999;
}

.navbar-brand img {
  height: 85px;
  margin-left: 20px;
  width: 190px;
}

.navbar-nav li {
  padding-right: 2px;
  margin-right: 20px;
  text-shadow: 0.2px 0 0 black;
}

.navbar-light .navbar-nav .nav-link {
  color: #3358D4;
  padding-top: 15px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #00B576;
  text-decoration: underline;
  text-decoration-color: #3358D4;
}

.navbar-collapse {
  background: #f8f9fa;
}

/*End of Navigation - all pages*/

/*Footer Section - all pages*/
footer {
  width: 100%;
  bottom: 0;
}

footer .row {
  text-align: center;
  color: #3358D4;
  text-shadow: 0.2px 0 0 black;
}

.footer-text {
  font-size: 20px;
  margin-top: 1.5px;
}
/*End of Footer Section - all pages*/

.green-text:valid {
    background-color: #00FF7F;
  }

.centre {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.cardstuff {
  padding: 20px;
}

.title {
  margin: 0 auto;
}

.hero-image {
  height: 800px;
  background: url("../images/optimisedloginimage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.hero-image2 {
  height: 800px;
  background: url("../images/optimisedregisterimage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}