@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/*Navigation - all pages*/
.navbar {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 2px;
  height: 110px;
  z-index: 9999;
}

.navbar-brand img {
  height: 85px;
  margin-left: 20px;
  width: 190px;
}

.navbar-nav li {
  padding-right: 2px;
  margin-right: 20px;
  text-shadow: 0.2px 0 0 black;
}

.navbar-light .navbar-nav .nav-link {
  color: #3358D4;
  padding-top: 15px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #00B576;
  text-decoration: underline;
  text-decoration-color: #3358D4;
}

.navbar-collapse {
  background: #f8f9fa;
}

/*End of Navigation - all pages*/

/*Footer Section - all pages*/
footer {
  width: 100%;
  bottom: 0;
}

footer .row {
  text-align: center;
  color: #3358D4;
  text-shadow: 0.2px 0 0 black;
}

.footer-text {
  font-size: 20px;
  margin-top: 1.5px;
}
/*End of Footer Section - all pages*/

/*Validation for form elements*/
.green-text:valid {
    background-color: #00FF7F;
  }

/*Form for Access to Profile - login & register pages*/
.centre-card {
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
  width: 40%;
  padding-left: 30px;
}

.centre-text {
  margin: 0 auto;
}

.title-text {
  color: #3358D4;
  text-decoration: underline;
  font-size: 30px;
}

.card-styling {
  border-radius: 25px;
  border: 2px solid #00B576;
}

.input-area {
  padding-left: 10px;
}

/*Background hero images - login & register pages*/
.login-heroimage {
  height: 100%;
  background: url("../images/optimisedloginimage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.register-heroimage {
  height: 100%;
  background: url("../images/optimisedregisterimage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.edittask-heroimage {
  height: 100%;
  background: url("../images/optimisededittaskimage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/*Flash Messages - all pages*/
.flash-message {
  margin: 0 auto;
  color: #3358D4;
  border: 1px solid #00B576;
  background-color: white;
  padding-left: 10px;
}

/*Buttons - all pages*/
.button {
    border-width: small;
    color: #ffffff;
    border-color: #3358D4;
    background-color: #00B576;
    border-radius: 25%;
  }
  
.button:hover {
      background-color: #3358D4;
  }

.button-red {
  border-width: small;
  color: #ffffff;
  border-color: #3358D4;
  background-color: rgb(245, 9, 9);
  border-radius: 25%;
}

/*Hyperlinks - all pages*/
.links {
  color: #3358D4;
  font-weight: 500;
}


