{% extends "base.html" %}
{% block content %}

<!--Start of Error Message - 500.html-->
<!--I studied a comment by Ed Bradley (Ed B) on Code Institute's Slack channel 
    in respect of how to correctly set up the 404 & 500 error pages for Python and Flask. - see Readme-->
<div class="pt-2 pb-2">
    <h1>500 Error</h1>
    <h2>Something went wrong.</h2>
    <a href="{{ url_for('home') }}" class="btn btn-primary button-red">Return To Home Page</a>
</div>
<div class="pt-2 pb-2">
<img class="results-image" src="static/images/optimisedprofilepageimage.jpg" alt="Avenue of blossom trees">
</div>
<!--End of Error Message - 500.html-->

{% endblock %}