{% extends "base.html" %}
{% block content %}

<h3>Edit Task - title to change</h3>

<form method="POST" action="{{ url_for('edit_task', task_id=task._id) }}" class="needs-validation" novalidate>
    <div class="row">
        <div class="form-group">
            <select id="category_name" class="form-control green-text" name="category_name" required>
                <option value="" disabled>Choose Category</option>
                {% for category in categories %}
                    {% if category.category_name == task.category_name %}
                        <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                    {% else %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <label for="category_name">Task Category</label>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <input type="text" class="form-control" id="english_name" name="english_name" minlength="5" maxlength="50"
                value = "{{ task.english_name }}" placeholder="English Name" required>
            <label for="english_name">English Name</label>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <input type="text" class="form-control" id="korean_name" name="korean_name" minlength="5"
                maxlength="200" value = "{{ task.korean_name }}" placeholder="Korean Name" required>
            <label for="korean_name">Korean Name</label>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <input type="text" class="form-control" id="brief_description" name="brief_description" minlength="5"
                maxlength="200" value = "{{ task.brief_description }}" placeholder="Brief Description" required>
            <label for="brief_description">Brief Description</label>
        </div>
    </div>
    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Edit Phrase</button>
    <!-- Button to cancel edit task -->
    <a class="btn btn-primary" href="{{ url_for('get_tasks') }}" role="button">Cancel</a>

</form>

{% endblock %}