{% extends "base.html" %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Handy Korean Phrases</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>

<!--Start of Photos Section - index.html -->
<div class="container-fluid images pt-1 pb-1 pl-2">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="static/images/optimisedheroimagekorea.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="{{ url_for('get_tasks') }}" class="btn btn-primary button">Go to Phrases</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="static/images/optimisedheroimagekorea.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="{{ url_for('login') }}" class="btn btn-primary button">Go to Login</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="static/images/optimisedheroimagekorea.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="{{ url_for('register') }}" class="btn btn-primary button">Go to Register</a>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="container-fluid images pt-1 pb-1 pl-2">
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <img src="static/images/optimisedloginimage.jpg" alt="Korean Girl in Kimono" />
        </div>
        <div class="col-md-6 col-lg-6">
            <img src="static/images/optimisedloginimage.jpg" alt="Korean Food on Table" />
        </div>
    </div>
</div>
<!--End of Photos Section - enquiries.html-->


{% endblock %}