{% extends "base.html" %}
{% block content %}

<!--Jumbotron Section - index.html -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="display-4">Handy Korean Phrases</h2>
        <p class="lead">If you're planning a trip to Korea soon, Handy Korean Phrases is the perfect reference website
            for kickstarting your ability to communicate when you are there. The website contains handy phrases posted
            by users relating to Basic Greetings, Accommodation, Directions, Eating & Drinking and Emergencies. So enjoy
            your trip and get learning the language now!
        </p>
    </div>
</div>
<!--End of Jumbotron Section - index.html -->

<!--Cards Section - index.html -->
<div class="container-fluid images pt-1 pb-1 pl-2">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <img class="card-img-top" src="static/images/optimisedphraselinkimage.jpg" alt="Books on a table">
                <div class="card-body">
                    <h3 class="card-title">Phrases</h3>
                    <p class="card-text">Go to view phrases added by current users!</p>
                    <a href="{{ url_for('get_tasks') }}" class="btn btn-primary button">Go to Phrases</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <img class="card-img-top" src="static/images/optimisedloginlinkimage.jpg" alt="Person logging in">
                <div class="card-body">
                    <h3 class="card-title">Login</h3>
                    <p class="card-text">Go to the Login Section to sign into your account!</p>
                    <a href="{{ url_for('login') }}" class="btn btn-primary button">Go to Login</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <img class="card-img-top" src="static/images/optimisedregisterlinkimage.jpg" alt="Iphone on table">
                <div class="card-body">
                    <h3 class="card-title">Register</h3>
                    <p class="card-text">Go to the Register Section to create your account!</p>
                    <a href="{{ url_for('register') }}" class="btn btn-primary button">Go to Register</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Cards Section - index.html -->

<!--Photos Section - index.html -->
<div class="container-fluid images pt-1 pb-1 pl-2">
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <img src="static/images/optimisedhomepage2image.jpg" alt="Photo of Korean Woman" />
        </div>
        <div class="col-md-6 col-lg-6">
            <img src="static/images/optimisedhomepage1image.jpg" alt="Photo of Korean Temple" />
        </div>
    </div>
</div>
<!--End of Photos Section - index.html-->

{% endblock %}