{% extends "base.html" %}
{% block content %}

<!--Search Section - phrases.html-->
<div class="card searchbackground">
    <div class="card-body search">
        <form class="centre-card2 pt-1 pb-1 needs-validation" action="{{ url_for('search') }}" novalidate method="POST">
            <div class="card card-styling">
                <div class="card-body">
                    <div class="row">
                        <label for="query">
                            <div class="title-text pl-2 pb-2"><i class="fas fa-search"></i> Search Phrases</div>
                        </label>
                        <div class="input-group pl-2 pt-1 pb-1">
                            <input class="green-text" type="text" name="query" id="query" minlength="5" maxlength="50"
                                aria-label="search" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback textp">
                                Please enter valid phrase!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12-lg pl-2 pt-1 pb-2">
                            <a class="btn btn-primary button-margin button-red" href="{{ url_for('get_phrases') }}"
                                role="button">Reset</a>
                            <button class="btn btn-primary button-margin button" type="submit">Search</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12-lg pl-2 pt-2 pb-1">
                            <div>Get Learning New Korean Phrases Now!</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--End of Search Section - phrases.html-->

<!--Phrases Section - phrases.html-->
{% if phrases|length > 0 %}
<div class="card phrasebackground">
    {% for phrase in phrases %}
    <div class="card-body phrases">
        <h5 class="card-title"><i class="fa fa-list-alt" aria-hidden="true"></i> Category: {{ phrase.category_name }}</h5>
        <h6><i class="far fa-comment-dots"></i> English Phrase: {{ phrase.english_name }}</h6>
        <h6 class="korean-text"><i class="far fa-comment-dots"></i> Korean Phrase: {{ phrase.korean_name }}</h6>
        <p class="card-text"><i class="fas fa-clipboard-list"></i> Fun Fact: {{ phrase.brief_description }}</p>
        <h6>by: {{ phrase.created_by }}</h6>
        {% if session.user|lower == phrase.created_by|lower %}
        <a class="btn btn-primary button-red" href="{{ url_for('delete_phrase', phrase_id=phrase._id) }}"
            role="button">Delete</a>
        <a class="btn btn-primary button" href="{{ url_for('edit_phrase', phrase_id=phrase._id) }}"
            role="button">Edit</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% else %}
<h1 class="flash-message">No Results Found!</h1>
<h2 class="search-confirmation">Please enter valid English or Korean Phrase!</h2>
<img class="results-image" src="static/images/optimisedloginimage.jpg" alt="Books on a table">
{% endif %}
<!--End of Phrases Section - phrases.html-->

{% endblock %}