{% extends "base.html" %}
{% block content %}

<!--Form Section - register.html-->
<!--I studied a stackoverflow post in order to fully understand how to change the input field green 
    when a correct number of characters had been entered, to assist with the validation process - see Readme-->
<div class="register-heroimage" role="img" aria-label="River in Seoul">
    <div class="row">
        <form class="needs-validation centre-card mt-2 mb-2 px-2" novalidate method="POST"
            action="{{ url_for('register') }}">
            <div class="card card-styling">
                <h4 class="mt-2 mb-2 centre-text title-text">Register</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group input-area">
                            <label class="form-text" for="username">
                                <i class="fas fa-user"></i> Username
                            </label>
                            <input type="text" class="form-control green-text" id="username" name="username"
                                placeholder="Username" minlength="6" maxlength="10" size="50"
                                pattern="^[a-zA-Z0-9]{6,14}$" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Usernames (5-10 characters) with letters and/or numbers (a-z, A-Z, 0-9)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group input-area">
                            <label class="form-text" for="password">
                                <i class="fas fa-key"></i> Password
                            </label>
                            <input type="password" class="form-control green-text" id="password" name="password"
                                size="50" placeholder="Password" minlength="5" maxlength="10"
                                pattern="^[a-zA-Z0-9]{5,10}$" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Passwords (5-10 characters) with letters and/or numbers (a-z, A-Z, 0-9)
                            </div>
                        </div>
                    </div>
                    <!--Register Button - register.html-->
                    <div class="row input-area">
                        <button type="submit" class="btn btn-primary button">Register</button>
                    </div>
                </div>
                <!--Link to Login Button - register.html-->
                <div class="row centre-text">
                    <div class="col-sm-12">
                        <p>
                            Have you already registered? <a href="{{ url_for('login') }}"><span class="links">Login
                                    Now</span></a>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--End of Form Section - register.html-->

{% endblock %}